body {
    background-color: bisque;
}
h1{
    color: black;
    text-align: center;
}
p{
    text-align: center;
    font-family: Helvetica;
    font-size: 120%;
    
}

.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;

}
